<div class="login-page">
  <form (ngSubmit)="login()" [formGroup]="form" class="login-form">
    <div class="logo" style="cursor: pointer" routerLink="home">
      <img src="assets/logo.png" alt="TechBoys" />
      <span>TechBoys</span>
    </div>

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      placeholder="email@gmail.com"
      formControlName="email"
      required
    />

    <label for="senha">Senha:</label>
    <input
      type="password"
      id="senha"
      placeholder="senha123"
      formControlName="senha"
      required
    />

    <button type="submit">Entrar</button>

    <a class="forgot-password" href="#">Esqueceu a senha?</a>
  </form>
  <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
</div>
